<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>周美健-期末作业</title>

    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->

    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="static/css/style-liberty.css">

</head>

<body>



<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="index.html">
                    <span class="fa fa-lightbulb"></span> 少数民族分析-撒拉族
                </a>
            </h1>
            <!-- if logo is image enable this   
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">基本信息<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="baiduzhishu.html">情感分析</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ciyunfenxi.html">词云分析</a>
                    </li>
                    <li class="nav-item">
                        <li class="nav-item">
                        <a class="nav-link" href="qingganzhishu.html">搜索指数</a >
                    </li>

                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="文本分析.html">城市</a>
                            <a class="dropdown-item" href="词云分析.html">Blog Single</a>
                        </div>
                    </li>
                    <li class="nav-item">

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="error.html">404 Page</a>
                            <a class="dropdown-item" href="email-template.html">Email Template</a>
                            <a class="dropdown-item" href="qingganzhishu.html">Landing Page</a>
                            <a class="dropdown-item" href="shortcodes.html">Shortcodes</a>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="qingganzhishu.html">情感指数</a >
                            <a class="dropdown-item" href="blogsingle.html">Blog Single</a >
                        </div>
                    </li>
                    <li class="nav-item">

                    </li>

                    <!--/search-right-->
                    <ul class="header-search">
                        <li class="nav-item search-right">
                            <a href="#search" class="btn search-btn btn-light" title="search"><span class="fas fa-search" aria-hidden="true"></span></a>
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <h3 class="title-w3l two mb-4 text-left">Search Here</h3>
                                    <form action="#" method="GET" class="search-box d-sm-flex position-relative">
                                        <input type="search" placeholder="Enter Keyword here" name="search" required="required" autofocus="">
                                        <button type="submit" class="btn btn-style btn-primary"> Search</button>
                                    </form>
                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                            <!-- /search popup -->
                        </li>
                    </ul>
                    <!--//search-right-->
                </ul>
            </div>
            <!-- search button -->

            <!-- //search button -->

            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//header-->




<!-- banner section -->
<section id="home" class="w3l-banner py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="py-lg-5 py-4">
            <div class="banner-info-grid">
                <h3 class="mb-4"><sup></sup>撒拉族</h3>
                <p>撒拉族搜索热度、情感分析、词云分析等</p>

            </div>
        </div>
    </div>
</section>
<!-- //banner section -->





<!-- Services Section -->
<section class="about-section py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4 pb-xl-4">
            <h3 class="w3l-title-main">撒拉族简介</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fas fa-chalkboard"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="#url">来源</a></h5>
                        <p>撒拉族因自称“撒拉尔”，简称“撒拉”而得名，主要聚居在青海省循化撒拉族自治县、化隆回族自治县甘都乡、甘肃省积石山保安族东乡族撒拉族自治县的大河家。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fas fa-chart-bar"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="#url">人数</a></h5>
                        <p>根据2010年第六次全国人口普查统计，撒拉族总人口数为130607人，根据《中国统计年鉴-2021》统计，中国撒拉族的人口数为165159人。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-3">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fas fa-city"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="#url">信仰</a></h5>
                        <p>撒拉族是中国信仰伊斯兰教的少数民族之一，民族语言为撒拉语，属阿尔泰语系突厥语族西匈奴语支乌古斯语组，也有人认为属于撒鲁尔方言，无文字，通用汉文。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Services Section -->


<!-- Why Choose Us Section-->
<section class="w3l-whychooseus py-5" id="about1">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row align-items-center">
            <div class="col-lg-7 pe-lg-5 align-center">
                <h6 class="w3l-title-small mb-2">族称历史</h6>
                <h3 class="w3l-title-main mb-2">民族传说</h3>
                <p class="mt-3">撒拉族的族源，根据民间传说，有多种说法，一说是从土耳其来的,一说是从哈密来的，一说是从撒马尔罕来的。学术界比较一致的意见是撒拉族源自中亚撒马尔罕。
撒拉族先民从中亚撒马尔罕一带迁来的历史，近年来被一些历史学家证实。其祖圣尕勒莽、阿哈莽的坟墓与《古兰经》手抄本仍在街子清真大寺内保存。一本土耳其文著作《回族源流考》中记载：“原住在撒拉克(今土库曼境内)的尕勒莽和阿哈莽兄弟二人，带领本族一百七十户，离开此地东行至西宁附近定居下来。”从民族习俗来看，过去撒拉人结婚时往往表演“骆驼舞”或“骆驼戏”，其内容就是追述先民从中亚撒马尔罕迁来的经过。</p>
                <div class="row two-grids mt-5">
                    <div class="col-sm-6 grids_info d-flex">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">撒拉尔</h4>
                            <p>据考证，“撒拉”这一名称最早可追溯至公元7世纪西突厥时期乌古斯部的撒鲁尔（salur）部落。撒鲁尔又译作“撒罗尔”或“撒卢尔”，为乌古斯汗6个儿子中五子塔黑（tag）之长子，撒鲁尔意为“到处挥动剑和锤矛者”。
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-sm-0 mt-4">
                        <i class="fas fa-lightbulb"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">门宦制度</h4>
                            <p>清代乾隆年间，河州回族聚居区的“门宦制度”和一些不同教派先后传入了撒拉族地区后，撒拉族开始有了教派之分和教派之争。不同教派群众间的纠纷、械斗，给劳动人民造成了很大灾难。
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-md-5 mt-4">
                        <i class="fas fa-headset"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">饮食习惯</h4>
                            <p>撒拉族日食三餐（农忙时根据情况适当加餐）。食物以小麦为主，辅以青稞、荞麦、马铃薯及各类蔬菜。主食通常做成花卷、馒头、烙饼、馄锅馍、面条、面片、拉面、擀面、散饭、搅团和糊糊等。肉食以牛、羊、鸡肉为主，肉食及家禽均由阿訇宰杀。
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-md-5 mt-4">
                        <i class="fab fa-servicestack"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">民族服饰</h4>
                            <p>撒拉族主要居住在青海循化、化隆县和甘肃积石山大河家一带，聚居地比较集中，因而其服饰也相对统一。在色彩上男子以白、黑色为主，忌讳红、黄色及花色繁缛的服饰；妇女除了参加宗教仪式的场合外，则衣裤鲜艳多彩，再套上黑或紫色的坎肩，更是妩媚俊俏，颇具特色。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mt-lg-0 mt-5 position-relative">
                <img src="static/images/1.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- //Why Choose Us Section-->



<!-- Stats Section-->
<section class="w3l-stats-section py-5" id="stats">
    <div class="container py-lg-5 py-md-4 py-3">
        <div class="w3l-stats-inner-inf py-lg-4">
            <div class="row stats-con">
                <div class="col-lg-3 col-6 stats_info counter_grid">
                    <div class="d-flex">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <p class="counter"> 2886 </p>
                    </div>
                    <h3>微博采集数量</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid">
                    <div class="d-flex">
                        <i class="fas fa-users"></i>
                        <p class="counter"> 165159 </p>
                    </div>
                    <h3>当前撒拉族总人口</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-sm-5 mt-5">
                    <div class="d-flex">
                        <i class="fas fa-headset"></i>
                        <p class="counter"> 1280 </p>
                    </div>
                    <h3>采集关键词数量</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-sm-5 mt-5">
                    <div class="d-flex">
                        <i class="fas fa-project-diagram"></i>
                        <p class="counter"> 889 </p>
                    </div>
                    <h3>社会关系图数量</h3>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- //Stats Section-->








<!-- footer block -->
<footer class="w3l-footer-29-main">

            <p class="copy-footer-29 text-center mt-5 pb-2">22301285 非全 周美健 <a target="_blank" href="http://www.mobanwang.com/" title="网页模板"></a></p>
            <!-- //copyright -->
        </div>
    </div>
</footer>
<!-- //footer block -->




<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="static/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- theme switch js (light and dark)-->
<script src="static/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!--/stats-number-counter-->
<script src="static/js/jquery.waypoints.min.js"></script>
<script src="static/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();

</script>
<!--//stats-number-counter-->

<!--/owlcarousel-->
<script src="static/js/owl.carousel.js"></script>
<!-- //tesimonials-->
<script>
    $(document).ready(function() {
        $("#owl-demo1").owlCarousel({
            loop: true,
            nav: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                736: {
                    items: 1,
                    nav: false
                }
            }
        })
    })

</script>
<!-- //tesimonials-->

<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->

<!--bootstrap-->
<script src="assets/js/bootstrap.min.js"></script>
<!-- //bootstrap-->
<!-- //Js scripts -->

</body>

</html>